flows.json
[
    {
        "id": "09012e75c72a4968",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7f550ba4b652afbb",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "eb54885cfae1efc1",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "94b8abb47e4cb1f2",
        "type": "serial-port",
        "serialport": "/dev/tty/USB0",
        "serialbaud": "115200",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "346f85aea8590bba",
        "type": "serial-port",
        "serialport": "/dev/tty/USB1",
        "serialbaud": "115200",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "2fa64a6ae4bfad03",
        "type": "serial-port",
        "serialport": "/dev/tty/USB2",
        "serialbaud": "115200",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "c413535be070623e",
        "type": "serial-port",
        "serialport": "/dev/tty/USB3",
        "serialbaud": "115200",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "32174867b86c7b03",
        "type": "function",
        "z": "09012e75c72a4968",
        "name": "UpdateTemperature",
        "func": "let jsonData = JSON.parse(msg.payload);\n\nmsg.payload = [\n    {\n        \"op\": \"add\",\n        \"path\": jsonData[\"temperature\"][\"path\"],\n        \"value\": parseInt(msg.temperature_value)\n    }\n]\n\nmsg.payload = {}\n\nmsg.url = \"https://room.api.wcus.digitaltwins.azure.net/digitaltwins/\"+ msg.room_id +\"?api-version=2020-10-31\"\nmsg.method = \"patch\"\n\nreturn msg; \n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1380,
        "y": 500,
        "wires": [
            [
                "c45a10208faeea88"
            ]
        ]
    },
    {
        "id": "17a8a64fa23751ed",
        "type": "function",
        "z": "09012e75c72a4968",
        "name": "processSerialData",
        "func": "msg.room_id = msg.serialData[\"room_id\"]\nmsg.temperature_value = msg.serialData[\"temperature_value\"]\nmsg.temperature_unit = msg.serialData[\"temperature_unit\"]\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 500,
        "wires": [
            [
                "af11a3caafbb5fa8"
            ]
        ]
    },
    {
        "id": "c4db83d867cd1492",
        "type": "function",
        "z": "09012e75c72a4968",
        "name": "UpdateActuatorState",
        "func": "",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1380,
        "y": 740,
        "wires": [
            [
                "c45a10208faeea88"
            ]
        ]
    },
    {
        "id": "38965161414b027a",
        "type": "function",
        "z": "09012e75c72a4968",
        "name": "PersonEnterExit",
        "func": "\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1360,
        "y": 800,
        "wires": [
            [
                "c45a10208faeea88"
            ]
        ]
    },
    {
        "id": "dcc8abdf633f1c30",
        "type": "function",
        "z": "09012e75c72a4968",
        "name": "MedicalDeviceTracking",
        "func": "",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1380,
        "y": 860,
        "wires": [
            [
                "c45a10208faeea88"
            ]
        ]
    },
    {
        "id": "d1be411bbad65001",
        "type": "function",
        "z": "09012e75c72a4968",
        "name": "PatientOnOperatingTable",
        "func": "",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1380,
        "y": 920,
        "wires": [
            [
                "c45a10208faeea88"
            ]
        ]
    },
    {
        "id": "f749ed1e2e58c229",
        "type": "function",
        "z": "09012e75c72a4968",
        "name": "AvailableActuator",
        "func": "let jsonData = parseJson(msg.payload);\n\njsonData[msg.actuatorID] = {\n    \"type\": msg.actuatorType,\n    \"room\": msg.roomID\n}\n\n//msg.payload = jsonData\nfunction parseJson(string){\n    return string === \"\" ? JSON.parse(\"{}\") : JSON.parse(string)\n}\n\nmsg.payload = jsonData\nreturn msg; \n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1360,
        "y": 980,
        "wires": [
            [
                "5c6d578149de144a"
            ]
        ]
    },
    {
        "id": "976a5466bc4b4345",
        "type": "function",
        "z": "09012e75c72a4968",
        "name": "processSerialData",
        "func": "msg.actuator_id = msg.serialData[\"actuator_id\"]\nmsg.state = msg.serialData[\"state\"]\nmsg.intensity_percentage = msg.serialData[\"intensity_percentage\"]\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 740,
        "wires": [
            [
                "635a32e66dd92586"
            ]
        ]
    },
    {
        "id": "5224a2d0c5f5e2ff",
        "type": "function",
        "z": "09012e75c72a4968",
        "name": "processSerialData",
        "func": "msg.person_id = msg.serialData[\"person_id\"]\nmsg.room_id = msg.serialData[\"room_id\"]\nmsg.role = msg.serialData[\"person_role\"]\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 800,
        "wires": [
            [
                "145386797b8afe53"
            ]
        ]
    },
    {
        "id": "af11a3caafbb5fa8",
        "type": "file in",
        "z": "09012e75c72a4968",
        "name": "read file",
        "filename": "/data/configFiles/type0.json",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "utf8",
        "allProps": false,
        "x": 1160,
        "y": 500,
        "wires": [
            [
                "32174867b86c7b03"
            ]
        ]
    },
    {
        "id": "9d6fa57b1db1e8b3",
        "type": "switch",
        "z": "09012e75c72a4968",
        "name": "TypeSwitch",
        "property": "type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "4",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "5",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "6",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "7",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "8",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "9",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 10,
        "x": 590,
        "y": 820,
        "wires": [
            [
                "17a8a64fa23751ed"
            ],
            [
                "e0959707dc172828"
            ],
            [
                "2a72d09d78bb7407"
            ],
            [
                "5a61a2afa4a38b4a"
            ],
            [
                "976a5466bc4b4345"
            ],
            [
                "5224a2d0c5f5e2ff"
            ],
            [
                "269af3b43e760d2b"
            ],
            [
                "637a5d6856e31424"
            ],
            [
                "37741262158114fd"
            ],
            [
                "5f4a2d6877405aa5"
            ]
        ]
    },
    {
        "id": "269af3b43e760d2b",
        "type": "function",
        "z": "09012e75c72a4968",
        "name": "processSerialData",
        "func": "msg.device_type = msg.serialData[\"device_type\"]\nmsg.device_id = msg.serialData[\"device_id\"]\nmsg.room_id = msg.serialData[\"room_id\"]\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 860,
        "wires": [
            [
                "cb314a12c20513b3"
            ]
        ]
    },
    {
        "id": "637a5d6856e31424",
        "type": "function",
        "z": "09012e75c72a4968",
        "name": "processSerialData",
        "func": "msg.room_id = msg.serialData[\"room_id\"]\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 920,
        "wires": [
            [
                "3dc151189b79fc01"
            ]
        ]
    },
    {
        "id": "37741262158114fd",
        "type": "function",
        "z": "09012e75c72a4968",
        "name": "processSerialData",
        "func": "msg.actuator_id = msg.serialData[\"actuator_id\"]\nmsg.actuator_type = msg.serialData[\"actuator_type\"]\nmsg.room_id = msg.serialData[\"room_id\"]\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 980,
        "wires": [
            [
                "f6e56c9200cdd690"
            ]
        ]
    },
    {
        "id": "c45a10208faeea88",
        "type": "function",
        "z": "09012e75c72a4968",
        "name": "add header ",
        "func": "msg.headers = {};\nmsg.headers['Authorization'] = \"Bearer \" + msg.token\nmsg.headers['Content-Type'] = \"application/json\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1870,
        "y": 720,
        "wires": [
            [
                "6a5968a77bdcb8ec"
            ]
        ]
    },
    {
        "id": "6a5968a77bdcb8ec",
        "type": "https-node",
        "z": "09012e75c72a4968",
        "name": "",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": true,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 2050,
        "y": 720,
        "wires": [
            [
                "3e879afc64077b51"
            ]
        ]
    },
    {
        "id": "3a01a886905e5fed",
        "type": "http in",
        "z": "09012e75c72a4968",
        "name": "ActuatorCommand",
        "url": "/:actuator_id/:state",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 1300,
        "wires": [
            [
                "d95b89b933ecab60"
            ]
        ]
    },
    {
        "id": "3e879afc64077b51",
        "type": "debug",
        "z": "09012e75c72a4968",
        "name": "response",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2220,
        "y": 720,
        "wires": []
    },
    {
        "id": "5c6d578149de144a",
        "type": "file",
        "z": "09012e75c72a4968",
        "name": "write file",
        "filename": "/data/configFiles/actuator_room_mapping.json",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "utf8",
        "x": 1560,
        "y": 980,
        "wires": [
            []
        ]
    },
    {
        "id": "a3885c62d3b2ed9e",
        "type": "function",
        "z": "09012e75c72a4968",
        "name": "getType",
        "func": "msg.type = msg.serialData[\"type\"]\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 560,
        "wires": [
            [
                "9d6fa57b1db1e8b3"
            ]
        ]
    },
    {
        "id": "8b23d4b6fc9ad1ef",
        "type": "file in",
        "z": "09012e75c72a4968",
        "name": "read actuator_room_mapping",
        "filename": "/data/configFiles/actuator_room_mapping.json",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "utf8",
        "allProps": false,
        "x": 680,
        "y": 1300,
        "wires": [
            [
                "1107f97b9aa49722"
            ]
        ]
    },
    {
        "id": "d95b89b933ecab60",
        "type": "function",
        "z": "09012e75c72a4968",
        "name": "getActuatorIDAndState",
        "func": "msg.actuator_id = msg.req.params.actuator_id\nmsg.state = msg.req.params.state\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 1300,
        "wires": [
            [
                "8b23d4b6fc9ad1ef"
            ]
        ]
    },
    {
        "id": "1107f97b9aa49722",
        "type": "function",
        "z": "09012e75c72a4968",
        "name": "getRoomIDAndActuatorType",
        "func": "let jsonData = JSON.parse(msg.payload);\nmsg.roomID = jsonData[msg.actuator_id][\"room\"]\nmsg.type = jsonData[msg.actuator_id][\"type\"]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 1300,
        "wires": [
            [
                "19b43e1a0fb43f50"
            ]
        ]
    },
    {
        "id": "19b43e1a0fb43f50",
        "type": "file in",
        "z": "09012e75c72a4968",
        "name": "read room_arduino_mapping",
        "filename": "/data/configFiles/arduino_room_mapping.json",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "utf8",
        "allProps": false,
        "x": 1270,
        "y": 1300,
        "wires": [
            [
                "0bcfc84520ddafb2"
            ]
        ]
    },
    {
        "id": "0bcfc84520ddafb2",
        "type": "function",
        "z": "09012e75c72a4968",
        "name": "getSerial",
        "func": "let jsonData = JSON.parse(msg.payload);\nmsg.serial = jsonData[msg.room]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1520,
        "y": 1300,
        "wires": [
            [
                "334dc786bd2b068a"
            ]
        ]
    },
    {
        "id": "c38d2690eac04451",
        "type": "switch",
        "z": "09012e75c72a4968",
        "name": "SerialSwitch",
        "property": "serial",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "4",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 1890,
        "y": 1300,
        "wires": [
            [
                "ca7739b93cae03dd"
            ],
            [
                "f0483d0112ec86ef"
            ],
            [
                "0b6a7dbffdb23c6e"
            ],
            [
                "b45cf93febf9d58d"
            ]
        ]
    },
    {
        "id": "5941b09a0ae77bc7",
        "type": "function",
        "z": "09012e75c72a4968",
        "name": "setRequestToGetToken",
        "func": "msg.headers = {};\nmsg.headers['Content-Type'] = \"application/x-www-form-urlencoded\"\nmsg.payload =  `grant_type = client_credentials &\n                client_id = ` + env.get(\"AZURE_DT_CLIENT_ID\") + ` &\n                client_secret =` + env.get(\"AZURE_DT_CLIENT_SECRET\") + ` &\n                resource = https://digitaltwins.azure.net \n                `\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1430,
        "y": 180,
        "wires": [
            [
                "dd96318fc1b5b6c4"
            ]
        ]
    },
    {
        "id": "dd96318fc1b5b6c4",
        "type": "https-node",
        "z": "09012e75c72a4968",
        "name": "getToken",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "body",
        "url": "https://login.microsoftonline.com/dcd04e3e-49bc-4f06-9237-a830cf4d6403/oauth2/token",
        "tls": "",
        "persist": true,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 1620,
        "y": 180,
        "wires": [
            [
                "1453612b8d0a384b"
            ]
        ]
    },
    {
        "id": "1453612b8d0a384b",
        "type": "function",
        "z": "09012e75c72a4968",
        "name": "saveToken",
        "func": "msg.token = msg.payload[\"access_token\"]\nmsg.expires_on = msg.payload[\"expiresOn\"]\nmsg.payload = {}\nmsg.payload[\"expiresOn\"] = msg.expires_on\nmsg.payload[\"token\"] = msg.token\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1770,
        "y": 180,
        "wires": [
            [
                "4c9a183fe7d56c66"
            ]
        ]
    },
    {
        "id": "d2d0866c15fa7ca3",
        "type": "function",
        "z": "09012e75c72a4968",
        "name": "checkIfTokenExpired",
        "func": "msg.payload = parseJson(msg.payload);\n\nif(msg.payload == \"\"){\n    msg.tokenExpired = true\n}else{\n    msg.tokenExpires_on = msg.payload[\"expiresOn\"]\n    let fiveMinutesInUnixEpoch = 300\n    msg.tokenExpired = (msg.tokenExpires_on - fiveMinutesInUnixEpoch) < Math.floor(Date.now() / 1000)\n}\n\nfunction parseJson(string) {\n    return string === \"\" ? \"\" : JSON.parse(string)\n}\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 240,
        "wires": [
            [
                "8f2451a34256b4dc"
            ]
        ]
    },
    {
        "id": "8f2451a34256b4dc",
        "type": "switch",
        "z": "09012e75c72a4968",
        "name": "tokenExpiredSwitch",
        "property": "tokenExpired",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1190,
        "y": 240,
        "wires": [
            [
                "5941b09a0ae77bc7"
            ],
            [
                "be71706450cf31db"
            ]
        ]
    },
    {
        "id": "272e66b82d47e0e4",
        "type": "function",
        "z": "09012e75c72a4968",
        "name": "getSerialData",
        "func": "msg.serialData = msg.payload\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 240,
        "wires": [
            [
                "eb9d520bd5382640"
            ]
        ]
    },
    {
        "id": "eb9d520bd5382640",
        "type": "file in",
        "z": "09012e75c72a4968",
        "name": "getToken",
        "filename": "/data/configFiles/token.json",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 800,
        "y": 240,
        "wires": [
            [
                "d2d0866c15fa7ca3"
            ]
        ]
    },
    {
        "id": "4c9a183fe7d56c66",
        "type": "file",
        "z": "09012e75c72a4968",
        "name": "writeToken",
        "filename": "/data/configFiles/token.json",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "utf8",
        "x": 1930,
        "y": 180,
        "wires": [
            [
                "a3885c62d3b2ed9e"
            ]
        ]
    },
    {
        "id": "be71706450cf31db",
        "type": "function",
        "z": "09012e75c72a4968",
        "name": "setToken",
        "func": "msg.token = msg.payload[\"token\"]\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 340,
        "wires": [
            [
                "a3885c62d3b2ed9e"
            ]
        ]
    },
    {
        "id": "6b1290a059fc78a2",
        "type": "serial in",
        "z": "09012e75c72a4968",
        "name": "",
        "serial": "94b8abb47e4cb1f2",
        "x": 110,
        "y": 180,
        "wires": [
            [
                "ead8458e27835fd5"
            ]
        ]
    },
    {
        "id": "d86ee55246645576",
        "type": "serial in",
        "z": "09012e75c72a4968",
        "name": "",
        "serial": "346f85aea8590bba",
        "x": 110,
        "y": 220,
        "wires": [
            [
                "f5d4b6da7502dcc5"
            ]
        ]
    },
    {
        "id": "f58ad2d2abbb5940",
        "type": "serial in",
        "z": "09012e75c72a4968",
        "name": "",
        "serial": "2fa64a6ae4bfad03",
        "x": 110,
        "y": 260,
        "wires": [
            [
                "95a015623724305b"
            ]
        ]
    },
    {
        "id": "31a34bfbb86c9ddc",
        "type": "serial in",
        "z": "09012e75c72a4968",
        "name": "",
        "serial": "c413535be070623e",
        "x": 110,
        "y": 300,
        "wires": [
            [
                "490f2072cd94d40a"
            ]
        ]
    },
    {
        "id": "ead8458e27835fd5",
        "type": "function",
        "z": "09012e75c72a4968",
        "name": "setSerial",
        "func": "msg.serial_id = \"/dev/tty/USB0\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 180,
        "wires": [
            [
                "272e66b82d47e0e4"
            ]
        ]
    },
    {
        "id": "f5d4b6da7502dcc5",
        "type": "function",
        "z": "09012e75c72a4968",
        "name": "setSerial",
        "func": "msg.serial_id = \"/dev/tty/USB1\"\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 220,
        "wires": [
            [
                "272e66b82d47e0e4"
            ]
        ]
    },
    {
        "id": "95a015623724305b",
        "type": "function",
        "z": "09012e75c72a4968",
        "name": "setSerial",
        "func": "msg.serial_id = \"/dev/tty/USB2\"\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 260,
        "wires": [
            [
                "272e66b82d47e0e4"
            ]
        ]
    },
    {
        "id": "490f2072cd94d40a",
        "type": "function",
        "z": "09012e75c72a4968",
        "name": "setSerial",
        "func": "msg.serial_id = \"/dev/tty/USB3\"\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 300,
        "wires": [
            [
                "272e66b82d47e0e4"
            ]
        ]
    },
    {
        "id": "e0959707dc172828",
        "type": "function",
        "z": "09012e75c72a4968",
        "name": "processSerialData",
        "func": "msg.room_id = msg.serialData[\"room_id\"]\nmsg.humidity_percentage = msg.serialData[\"humidity_percentage\"]\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 560,
        "wires": [
            [
                "3af5bf281111cdf5"
            ]
        ]
    },
    {
        "id": "2a72d09d78bb7407",
        "type": "function",
        "z": "09012e75c72a4968",
        "name": "processSerialData",
        "func": "msg.room_id = msg.serialData[\"room_id\"]\nmsg.luminosity_value = msg.serialData[\"luminosity_value\"]\nmsg.luminosity_unit = msg.serialData[\"luminosity_unit\"]\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 620,
        "wires": [
            [
                "eff2c757e27ebc08"
            ]
        ]
    },
    {
        "id": "5a61a2afa4a38b4a",
        "type": "function",
        "z": "09012e75c72a4968",
        "name": "processSerialData",
        "func": "msg.room_id = msg.serialData[\"room_id\"]\nmsg.person_inside = msg.serialData[\"person_inside\"]\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 680,
        "wires": [
            [
                "e944970a233c812f"
            ]
        ]
    },
    {
        "id": "931fbc85cf48c3ad",
        "type": "function",
        "z": "09012e75c72a4968",
        "name": "UpdateHumidity",
        "func": "\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1360,
        "y": 560,
        "wires": [
            [
                "c45a10208faeea88"
            ]
        ]
    },
    {
        "id": "c1a003d2e63c8fc7",
        "type": "function",
        "z": "09012e75c72a4968",
        "name": "UpdateLuminosity",
        "func": "\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1370,
        "y": 620,
        "wires": [
            [
                "c45a10208faeea88"
            ]
        ]
    },
    {
        "id": "f495c7f7c9e65097",
        "type": "function",
        "z": "09012e75c72a4968",
        "name": "UpdatePersonInside",
        "func": "",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1380,
        "y": 680,
        "wires": [
            [
                "c45a10208faeea88"
            ]
        ]
    },
    {
        "id": "b8465449f8f024c3",
        "type": "function",
        "z": "09012e75c72a4968",
        "name": "AssociatedRoom",
        "func": "let jsonData = parseJson(msg.payload);\n\njsonData[msg.room_id] = msg.serial\n\n\n//msg.payload = jsonData\nfunction parseJson(string){\n    return string === \"\" ? JSON.parse(\"{}\") : JSON.parse(string)\n}\n\nmsg.payload = jsonData\nreturn msg; \n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1370,
        "y": 1040,
        "wires": [
            [
                "4a089b6cc4d44d96"
            ]
        ]
    },
    {
        "id": "5f4a2d6877405aa5",
        "type": "function",
        "z": "09012e75c72a4968",
        "name": "processSerialData",
        "func": "msg.room_id = msg.serialData[\"room_id\"]\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 1040,
        "wires": [
            [
                "3dd49201b59cb7f9"
            ]
        ]
    },
    {
        "id": "4a089b6cc4d44d96",
        "type": "file",
        "z": "09012e75c72a4968",
        "name": "write file",
        "filename": "/data/configFiles/actuator_room_mapping.json",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "utf8",
        "x": 1570,
        "y": 1040,
        "wires": [
            []
        ]
    },
    {
        "id": "334dc786bd2b068a",
        "type": "function",
        "z": "09012e75c72a4968",
        "name": "setSerialMessage",
        "func": "msg.payload = {}\nmsg.payload[\"command\"] = msg.type\nmsg.payload[\"room_id\"] = msg.room_id\nmsg.payload[\"status\"] = msg.state\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1710,
        "y": 1300,
        "wires": [
            [
                "c38d2690eac04451"
            ]
        ]
    },
    {
        "id": "ca7739b93cae03dd",
        "type": "serial out",
        "z": "09012e75c72a4968",
        "name": "",
        "serial": "94b8abb47e4cb1f2",
        "x": 2100,
        "y": 1240,
        "wires": []
    },
    {
        "id": "0b6a7dbffdb23c6e",
        "type": "serial out",
        "z": "09012e75c72a4968",
        "name": "",
        "serial": "2fa64a6ae4bfad03",
        "x": 2100,
        "y": 1320,
        "wires": []
    },
    {
        "id": "b45cf93febf9d58d",
        "type": "serial out",
        "z": "09012e75c72a4968",
        "name": "",
        "serial": "c413535be070623e",
        "x": 2100,
        "y": 1360,
        "wires": []
    },
    {
        "id": "f0483d0112ec86ef",
        "type": "serial out",
        "z": "09012e75c72a4968",
        "name": "",
        "serial": "346f85aea8590bba",
        "x": 2100,
        "y": 1280,
        "wires": []
    },
    {
        "id": "3af5bf281111cdf5",
        "type": "file in",
        "z": "09012e75c72a4968",
        "name": "read file",
        "filename": "/data/configFiles/type0.json",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "utf8",
        "allProps": false,
        "x": 1160,
        "y": 560,
        "wires": [
            [
                "931fbc85cf48c3ad"
            ]
        ]
    },
    {
        "id": "eff2c757e27ebc08",
        "type": "file in",
        "z": "09012e75c72a4968",
        "name": "read file",
        "filename": "/data/configFiles/type0.json",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "utf8",
        "allProps": false,
        "x": 1160,
        "y": 620,
        "wires": [
            [
                "c1a003d2e63c8fc7"
            ]
        ]
    },
    {
        "id": "e944970a233c812f",
        "type": "file in",
        "z": "09012e75c72a4968",
        "name": "read file",
        "filename": "/data/configFiles/type0.json",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "utf8",
        "allProps": false,
        "x": 1160,
        "y": 680,
        "wires": [
            [
                "f495c7f7c9e65097"
            ]
        ]
    },
    {
        "id": "635a32e66dd92586",
        "type": "file in",
        "z": "09012e75c72a4968",
        "name": "read file",
        "filename": "/data/configFiles/type0.json",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "utf8",
        "allProps": false,
        "x": 1160,
        "y": 740,
        "wires": [
            [
                "c4db83d867cd1492"
            ]
        ]
    },
    {
        "id": "145386797b8afe53",
        "type": "file in",
        "z": "09012e75c72a4968",
        "name": "read file",
        "filename": "/data/configFiles/type0.json",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "utf8",
        "allProps": false,
        "x": 1160,
        "y": 800,
        "wires": [
            [
                "38965161414b027a"
            ]
        ]
    },
    {
        "id": "cb314a12c20513b3",
        "type": "file in",
        "z": "09012e75c72a4968",
        "name": "read file",
        "filename": "/data/configFiles/type0.json",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "utf8",
        "allProps": false,
        "x": 1160,
        "y": 860,
        "wires": [
            [
                "dcc8abdf633f1c30"
            ]
        ]
    },
    {
        "id": "3dc151189b79fc01",
        "type": "file in",
        "z": "09012e75c72a4968",
        "name": "read file",
        "filename": "/data/configFiles/type0.json",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "utf8",
        "allProps": false,
        "x": 1160,
        "y": 920,
        "wires": [
            [
                "d1be411bbad65001"
            ]
        ]
    },
    {
        "id": "f6e56c9200cdd690",
        "type": "file in",
        "z": "09012e75c72a4968",
        "name": "read file",
        "filename": "/data/configFiles/type0.json",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "utf8",
        "allProps": false,
        "x": 1160,
        "y": 980,
        "wires": [
            [
                "f749ed1e2e58c229"
            ]
        ]
    },
    {
        "id": "3dd49201b59cb7f9",
        "type": "file in",
        "z": "09012e75c72a4968",
        "name": "read file",
        "filename": "/data/configFiles/type0.json",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "utf8",
        "allProps": false,
        "x": 1160,
        "y": 1040,
        "wires": [
            [
                "b8465449f8f024c3"
            ]
        ]
    },
    {
        "id": "fd738f445c2a696f",
        "type": "inject",
        "z": "09012e75c72a4968",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"type\":0, \"room_id\": \"room1\", \"temperature_value\": 23, \"temperature_unit\": \"celsius\"}",
        "payloadType": "json",
        "x": 90,
        "y": 80,
        "wires": [
            [
                "ead8458e27835fd5"
            ]
        ]
    }
]