data/flows.json
[
    {
        "id": "09012e75c72a4968",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7f550ba4b652afbb",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "eb54885cfae1efc1",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "70865c1f352e8a0c",
        "type": "subflow",
        "name": "AzureHttpRequest",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 40,
                "y": 80,
                "wires": [
                    {
                        "id": "20a8eea9561054e5"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 520,
                "y": 80,
                "wires": [
                    {
                        "id": "302d634ed9fe8047",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "94b8abb47e4cb1f2",
        "type": "serial-port",
        "serialport": "/dev/ttyUSB0",
        "serialbaud": "115200",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "346f85aea8590bba",
        "type": "serial-port",
        "serialport": "/dev/tty/USB1",
        "serialbaud": "115200",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "2fa64a6ae4bfad03",
        "type": "serial-port",
        "serialport": "/dev/tty/USB2",
        "serialbaud": "115200",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "c413535be070623e",
        "type": "serial-port",
        "serialport": "/dev/tty/USB3",
        "serialbaud": "115200",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "791ec7d75a1a4b22",
        "type": "semaphore-config",
        "name": "room",
        "capacity": "1"
    },
    {
        "id": "180b2c2683969dc1",
        "type": "semaphore-config",
        "name": "",
        "capacity": "1"
    },
    {
        "id": "79c828b03c9c24ca",
        "type": "semaphore-config",
        "name": "actuator",
        "capacity": "1"
    },
    {
        "id": "20a8eea9561054e5",
        "type": "function",
        "z": "70865c1f352e8a0c",
        "name": "add header ",
        "func": "msg.headers = {};\nmsg.headers['Authorization'] = \"Bearer \" + msg.token\nmsg.headers['Content-Type'] = \"application/json\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 190,
        "y": 80,
        "wires": [
            [
                "302d634ed9fe8047"
            ]
        ]
    },
    {
        "id": "302d634ed9fe8047",
        "type": "https-node",
        "z": "70865c1f352e8a0c",
        "name": "",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": true,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 370,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "32174867b86c7b03",
        "type": "function",
        "z": "09012e75c72a4968",
        "name": "UpdateTemperature",
        "func": "msg.payload = [\n    {\n        \"op\": \"add\",\n        \"path\": \"/temperature\",\n        \"value\": parseFloat(msg.temperature_value)\n    }\n]\n\nmsg.url = \"https://digital-twin-layer.api.neu.digitaltwins.azure.net/digitaltwins/\"+ msg.room_id +\"?api-version=2023-02-27-preview\"\nmsg.method = \"patch\"\n\nreturn msg; ",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1240,
        "y": 460,
        "wires": [
            [
                "62c28667af053fe0"
            ]
        ]
    },
    {
        "id": "17a8a64fa23751ed",
        "type": "function",
        "z": "09012e75c72a4968",
        "name": "processTemperatureData",
        "func": "msg.room_id = msg.serialData[\"room_id\"]\nmsg.temperature_value = msg.serialData[\"temperature_value\"]\n//msg.temperature_unit = msg.serialData[\"temperature_unit\"]\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 950,
        "y": 460,
        "wires": [
            [
                "32174867b86c7b03"
            ]
        ]
    },
    {
        "id": "c4db83d867cd1492",
        "type": "function",
        "z": "09012e75c72a4968",
        "name": "UpdateActuatorState",
        "func": "let jsonData = JSON.parse(msg.payload);\n\nmsg.payload = [\n    {\n        \"op\": \"add\",\n        \"path\": \"/intensity\",\n        \"value\": msg.intensity_percentage\n    },\n    {\n        \"op\": \"add\",\n        \"path\": \"/power_state\",\n        \"value\": msg.state\n    },\n    {\n        \"op\": \"add\",\n        \"path\": \"/type\",\n        \"value\": jsonData[msg.actuator_id][\"type\"]\n    }\n]\n\nmsg.url = \"https://digital-twin-layer.api.neu.digitaltwins.azure.net/digitaltwins/\" + msg.actuator_id + \"?api-version=2023-02-27-preview\"\nmsg.method = \"patch\"\n\nreturn msg; \n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1860,
        "y": 700,
        "wires": [
            [
                "62c28667af053fe0"
            ]
        ]
    },
    {
        "id": "dcc8abdf633f1c30",
        "type": "function",
        "z": "09012e75c72a4968",
        "name": "createImplantableMedicalDeviceDT",
        "func": "let medicalDeviceModel = \"dtmi:io:github:smartoperatingblock:ImplantableMedicalDevice;1\"\nmsg.url = \"https://digital-twin-layer.api.neu.digitaltwins.azure.net/digitaltwins/\" + msg.device_id + \"?api-version=2023-02-27-preview\"\nmsg.method = \"put\"\n\nmsg.payload = {\n    \"$metadata\": {\n        \"$model\": medicalDeviceModel\n    }, \n    \"type\" : msg.device_type \n}\n\nreturn msg\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1290,
        "y": 1000,
        "wires": [
            [
                "dfc0c3d254b99e87"
            ]
        ]
    },
    {
        "id": "f749ed1e2e58c229",
        "type": "function",
        "z": "09012e75c72a4968",
        "name": "mapActuatorWithRoom",
        "func": "let jsonData = parseJson(msg.payload);\n\njsonData[msg.actuator_id] = {\n    \"type\": msg.actuator_type,\n    \"room\": msg.room_id\n}\n\n//msg.payload = jsonData\nfunction parseJson(string){\n    return string === \"\" ? JSON.parse(\"{}\") : JSON.parse(string)\n}\n\nmsg.payload = jsonData\nreturn msg; \n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1450,
        "y": 1120,
        "wires": [
            [
                "5c6d578149de144a"
            ]
        ]
    },
    {
        "id": "976a5466bc4b4345",
        "type": "function",
        "z": "09012e75c72a4968",
        "name": "processAcutatorData",
        "func": "msg.actuator_id = msg.serialData[\"actuator_id\"]\nmsg.state = msg.serialData[\"state\"]\nmsg.intensity_percentage = msg.serialData[\"intensity\"]\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 700,
        "wires": [
            [
                "6db82f271ea4f2b5"
            ]
        ]
    },
    {
        "id": "5224a2d0c5f5e2ff",
        "type": "function",
        "z": "09012e75c72a4968",
        "name": "processPersonEnterInRoom",
        "func": "msg.person_id = msg.serialData[\"person_id\"]\nmsg.room_id = msg.serialData[\"room_id\"]\nmsg.role = msg.serialData[\"person_role\"]\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 820,
        "wires": [
            [
                "7810c6d0751cfd37"
            ]
        ]
    },
    {
        "id": "9d6fa57b1db1e8b3",
        "type": "switch",
        "z": "09012e75c72a4968",
        "name": "TypeSwitch",
        "property": "type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "4",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "5",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "6",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "7",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "8",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "9",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 10,
        "x": 590,
        "y": 820,
        "wires": [
            [
                "17a8a64fa23751ed"
            ],
            [
                "e0959707dc172828"
            ],
            [
                "2a72d09d78bb7407"
            ],
            [
                "5a61a2afa4a38b4a"
            ],
            [
                "976a5466bc4b4345"
            ],
            [
                "5224a2d0c5f5e2ff"
            ],
            [
                "269af3b43e760d2b"
            ],
            [
                "637a5d6856e31424"
            ],
            [
                "37741262158114fd"
            ],
            [
                "5f4a2d6877405aa5"
            ]
        ]
    },
    {
        "id": "269af3b43e760d2b",
        "type": "function",
        "z": "09012e75c72a4968",
        "name": "processMedicalDeviceTracking",
        "func": "msg.device_type = msg.serialData[\"device_type\"]\nmsg.device_id = msg.serialData[\"device_id\"]\nmsg.room_id = msg.serialData[\"room_id\"]\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 990,
        "y": 1000,
        "wires": [
            [
                "dcc8abdf633f1c30"
            ]
        ]
    },
    {
        "id": "637a5d6856e31424",
        "type": "function",
        "z": "09012e75c72a4968",
        "name": "processPatientOnOperatingRoom",
        "func": "msg.room_id = msg.serialData[\"room_id\"]\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 970,
        "y": 1060,
        "wires": [
            [
                "61eca1567ddb5e81"
            ]
        ]
    },
    {
        "id": "37741262158114fd",
        "type": "function",
        "z": "09012e75c72a4968",
        "name": "processAvailableActuator",
        "func": "msg.actuator_id = msg.serialData[\"actuator_id\"]\nmsg.actuator_type = msg.serialData[\"actuator_type\"]\nmsg.room_id = msg.serialData[\"room_id\"]\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 1120,
        "wires": [
            [
                "42abe5ceec9cb282"
            ]
        ]
    },
    {
        "id": "5c6d578149de144a",
        "type": "file",
        "z": "09012e75c72a4968",
        "name": "saveNewAvailableActuator",
        "filename": "/data/configFiles/actuator_room_mapping.json",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "utf8",
        "x": 1700,
        "y": 1120,
        "wires": [
            [
                "6043d884856924e5"
            ]
        ]
    },
    {
        "id": "a3885c62d3b2ed9e",
        "type": "function",
        "z": "09012e75c72a4968",
        "name": "getType",
        "func": "msg.type = msg.serialData[\"type\"]\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 560,
        "wires": [
            [
                "9d6fa57b1db1e8b3"
            ]
        ]
    },
    {
        "id": "5941b09a0ae77bc7",
        "type": "function",
        "z": "09012e75c72a4968",
        "name": "setRequestToGetToken",
        "func": "msg.headers = {};\nmsg.headers['Content-Type'] = \"application/x-www-form-urlencoded\"\nmsg.payload =  `grant_type = client_credentials &\n                client_id = ` + env.get(\"AZURE_DT_CLIENT_ID\") + ` &\n                client_secret =` + env.get(\"AZURE_DT_CLIENT_SECRET\") + ` &\n                resource = https://digitaltwins.azure.net\n                `\nmsg.url = \"https://login.microsoftonline.com/\"+ env.get(\"AZURE_DT_TENANT_ID\") +\"/oauth2/token\"                \nreturn msg;\n//https://digitaltwins.azure.net",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1430,
        "y": 180,
        "wires": [
            [
                "dd96318fc1b5b6c4"
            ]
        ]
    },
    {
        "id": "1453612b8d0a384b",
        "type": "function",
        "z": "09012e75c72a4968",
        "name": "saveToken",
        "func": "msg.token = msg.payload[\"access_token\"]\nmsg.expires_on = msg.payload[\"expires_on\"]\nmsg.payload = {}\nmsg.payload[\"expires_on\"] = msg.expires_on\nmsg.payload[\"token\"] = msg.token\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1770,
        "y": 200,
        "wires": [
            [
                "4c9a183fe7d56c66"
            ]
        ]
    },
    {
        "id": "d2d0866c15fa7ca3",
        "type": "function",
        "z": "09012e75c72a4968",
        "name": "checkIfTokenExpired",
        "func": "msg.payload = parseJson(msg.payload);\n\nif(msg.payload == \"\"){\n    msg.tokenExpired = true\n}else{\n    msg.tokenExpires_on = msg.payload[\"expires_on\"]\n    let fiveMinutesInUnixEpoch = 300\n    msg.tokenExpired = (msg.tokenExpires_on - fiveMinutesInUnixEpoch) < Math.floor(Date.now() / 1000)\n}\n\nfunction parseJson(string) {\n    return string === \"\" ? \"\" : JSON.parse(string)\n}\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 240,
        "wires": [
            [
                "8f2451a34256b4dc"
            ]
        ]
    },
    {
        "id": "8f2451a34256b4dc",
        "type": "switch",
        "z": "09012e75c72a4968",
        "name": "tokenExpiredSwitch",
        "property": "tokenExpired",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1200,
        "y": 240,
        "wires": [
            [
                "5941b09a0ae77bc7"
            ],
            [
                "be71706450cf31db"
            ]
        ]
    },
    {
        "id": "272e66b82d47e0e4",
        "type": "function",
        "z": "09012e75c72a4968",
        "name": "getSerialData",
        "func": "msg.serialData = msg.payload\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 240,
        "wires": [
            [
                "eb9d520bd5382640"
            ]
        ]
    },
    {
        "id": "eb9d520bd5382640",
        "type": "file in",
        "z": "09012e75c72a4968",
        "name": "getToken",
        "filename": "/data/configFiles/token.json",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 800,
        "y": 240,
        "wires": [
            [
                "d2d0866c15fa7ca3"
            ]
        ]
    },
    {
        "id": "4c9a183fe7d56c66",
        "type": "file",
        "z": "09012e75c72a4968",
        "name": "writeToken",
        "filename": "/data/configFiles/token.json",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "utf8",
        "x": 1930,
        "y": 180,
        "wires": [
            [
                "a3885c62d3b2ed9e"
            ]
        ]
    },
    {
        "id": "be71706450cf31db",
        "type": "function",
        "z": "09012e75c72a4968",
        "name": "setToken",
        "func": "msg.token = msg.payload[\"token\"]\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 340,
        "wires": [
            [
                "a3885c62d3b2ed9e"
            ]
        ]
    },
    {
        "id": "e0959707dc172828",
        "type": "function",
        "z": "09012e75c72a4968",
        "name": "processHumidityData",
        "func": "msg.room_id = msg.serialData[\"room_id\"]\nmsg.humidity_percentage = msg.serialData[\"humidity_percentage\"]\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 520,
        "wires": [
            [
                "931fbc85cf48c3ad"
            ]
        ]
    },
    {
        "id": "2a72d09d78bb7407",
        "type": "function",
        "z": "09012e75c72a4968",
        "name": "processLuminosityData",
        "func": "msg.room_id = msg.serialData[\"room_id\"]\nmsg.luminosity_value = msg.serialData[\"luminosity_value\"]\n//msg.luminosity_unit = msg.serialData[\"luminosity_unit\"]\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 950,
        "y": 580,
        "wires": [
            [
                "c1a003d2e63c8fc7"
            ]
        ]
    },
    {
        "id": "5a61a2afa4a38b4a",
        "type": "function",
        "z": "09012e75c72a4968",
        "name": "processPersonInside",
        "func": "msg.room_id = msg.serialData[\"room_id\"]\nmsg.person_inside = msg.serialData[\"person_inside\"]\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 640,
        "wires": [
            [
                "f495c7f7c9e65097"
            ]
        ]
    },
    {
        "id": "931fbc85cf48c3ad",
        "type": "function",
        "z": "09012e75c72a4968",
        "name": "UpdateHumidity",
        "func": "\nmsg.payload = [\n    {\n        \"op\": \"add\",\n        \"path\": \"/humidity\",\n        \"value\": parseFloat(msg.humidity_percentage)\n    }\n]\n\nmsg.url = \"https://digital-twin-layer.api.neu.digitaltwins.azure.net/digitaltwins/\" + msg.room_id + \"?api-version=2023-02-27-preview\"\nmsg.method = \"patch\"\n\nreturn msg; \n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1220,
        "y": 520,
        "wires": [
            [
                "62c28667af053fe0"
            ]
        ]
    },
    {
        "id": "c1a003d2e63c8fc7",
        "type": "function",
        "z": "09012e75c72a4968",
        "name": "UpdateLuminosity",
        "func": "\nmsg.payload = [\n    {\n        \"op\": \"add\",\n        \"path\": \"/luminosity\",\n        \"value\": parseFloat(msg.luminosity_value)\n    }\n]\n\nmsg.url = \"https://digital-twin-layer.api.neu.digitaltwins.azure.net/digitaltwins/\" + msg.room_id + \"?api-version=2023-02-27-preview\"\nmsg.method = \"patch\"\n\nreturn msg; \n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1230,
        "y": 580,
        "wires": [
            [
                "62c28667af053fe0"
            ]
        ]
    },
    {
        "id": "f495c7f7c9e65097",
        "type": "function",
        "z": "09012e75c72a4968",
        "name": "UpdatePersonInside",
        "func": "\nmsg.payload = [\n    {\n        \"op\": \"add\",\n        \"path\": \"/presence_inside\",\n        \"value\": msg.person_inside\n    }\n]\n\nmsg.url = \"https://digital-twin-layer.api.neu.digitaltwins.azure.net/digitaltwins/\" + msg.room_id + \"?api-version=2023-02-27-preview\"\nmsg.method = \"patch\"\n\nreturn msg; \n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1240,
        "y": 640,
        "wires": [
            [
                "62c28667af053fe0"
            ]
        ]
    },
    {
        "id": "b8465449f8f024c3",
        "type": "function",
        "z": "09012e75c72a4968",
        "name": "mapRoomWithSerial",
        "func": "let jsonData = parseJson(msg.payload);\njsonData[msg.room_id] = msg.serial_id\n\nfunction parseJson(string){\n    return string === \"\" ? JSON.parse(\"{}\") : JSON.parse(string)\n}\n\nmsg.payload = jsonData\nreturn msg; ",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1600,
        "y": 1180,
        "wires": [
            [
                "4a089b6cc4d44d96"
            ]
        ]
    },
    {
        "id": "5f4a2d6877405aa5",
        "type": "function",
        "z": "09012e75c72a4968",
        "name": "processMappingBetweenSerialAndArduino",
        "func": "msg.room_id = msg.serialData[\"room_id\"]\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 1180,
        "wires": [
            [
                "40f0a07093025a0f"
            ]
        ]
    },
    {
        "id": "4a089b6cc4d44d96",
        "type": "file",
        "z": "09012e75c72a4968",
        "name": "saveSerialRoomMapping",
        "filename": "/data/configFiles/arduino_room_mapping.json",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "utf8",
        "x": 1870,
        "y": 1180,
        "wires": [
            [
                "78df5571fbe092a5"
            ]
        ]
    },
    {
        "id": "f6e56c9200cdd690",
        "type": "file in",
        "z": "09012e75c72a4968",
        "name": "readActuatorRoomMappingFile",
        "filename": "/data/configFiles/actuator_room_mapping.json",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "utf8",
        "allProps": false,
        "x": 1190,
        "y": 1120,
        "wires": [
            [
                "f749ed1e2e58c229"
            ]
        ]
    },
    {
        "id": "3dd49201b59cb7f9",
        "type": "file in",
        "z": "09012e75c72a4968",
        "name": "readArduinoRoomMappingFile",
        "filename": "/data/configFiles/arduino_room_mapping.json",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "utf8",
        "allProps": false,
        "x": 1350,
        "y": 1180,
        "wires": [
            [
                "b8465449f8f024c3"
            ]
        ]
    },
    {
        "id": "ead8458e27835fd5",
        "type": "function",
        "z": "09012e75c72a4968",
        "name": "setSerial",
        "func": "msg.serial_id = \"/dev/ttyUSB0\"\nmsg.payload = parseJson(msg.payload)\n\nfunction parseJson(string) {\n    return string === \"\" ? JSON.parse(\"{}\") : JSON.parse(string)\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 240,
        "wires": [
            [
                "272e66b82d47e0e4"
            ]
        ]
    },
    {
        "id": "6c9f6e80226a5597",
        "type": "inject",
        "z": "09012e75c72a4968",
        "name": "type0",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"type\": 0, \"room_id\": \"room1\", \"temperature_value\": 24, \"temperature_unit\": \"celsius\"}",
        "payloadType": "str",
        "x": 110,
        "y": 260,
        "wires": [
            [
                "ead8458e27835fd5"
            ]
        ]
    },
    {
        "id": "781486d011dadee8",
        "type": "inject",
        "z": "09012e75c72a4968",
        "name": "type1",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"type\": 1, \"room_id\": \"room1\", \"humidity_percentage\": 40}",
        "payloadType": "str",
        "x": 110,
        "y": 300,
        "wires": [
            [
                "ead8458e27835fd5"
            ]
        ]
    },
    {
        "id": "8c25201c78c9ab3b",
        "type": "inject",
        "z": "09012e75c72a4968",
        "name": "type2",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"type\": 2, \"room_id\": \"room1\", \"luminosity_value\": 1000}",
        "payloadType": "str",
        "x": 110,
        "y": 340,
        "wires": [
            [
                "ead8458e27835fd5"
            ]
        ]
    },
    {
        "id": "26ec74664cb5ff41",
        "type": "inject",
        "z": "09012e75c72a4968",
        "name": "type3",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"type\": 3, \"room_id\": \"room1\", \"person_inside\": true}",
        "payloadType": "str",
        "x": 110,
        "y": 380,
        "wires": [
            [
                "ead8458e27835fd5"
            ]
        ]
    },
    {
        "id": "6b1290a059fc78a2",
        "type": "serial in",
        "z": "09012e75c72a4968",
        "name": "",
        "serial": "94b8abb47e4cb1f2",
        "x": 130,
        "y": 180,
        "wires": [
            [
                "ead8458e27835fd5",
                "df4e2787b740a95d"
            ]
        ]
    },
    {
        "id": "dd96318fc1b5b6c4",
        "type": "https-node",
        "z": "09012e75c72a4968",
        "name": "getToken",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "body",
        "url": "",
        "tls": "",
        "persist": true,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 1620,
        "y": 180,
        "wires": [
            [
                "1453612b8d0a384b"
            ]
        ]
    },
    {
        "id": "105b0c2203081bf6",
        "type": "inject",
        "z": "09012e75c72a4968",
        "name": "type4",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"type\": 4, \"actuator_id\": \"act1\", \"state\" : \"on\", \"intensity_percentage\": 40}",
        "payloadType": "str",
        "x": 110,
        "y": 420,
        "wires": [
            [
                "ead8458e27835fd5"
            ]
        ]
    },
    {
        "id": "61b317ae6b43b406",
        "type": "inject",
        "z": "09012e75c72a4968",
        "name": "type6",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"type\": 6, \"device_type\": \"0\", \"device_id\" : \"med2\", \"room_id\": \"room1\"}",
        "payloadType": "str",
        "x": 110,
        "y": 500,
        "wires": [
            [
                "ead8458e27835fd5"
            ]
        ]
    },
    {
        "id": "1a6d9092c128a0bd",
        "type": "function",
        "z": "09012e75c72a4968",
        "name": "createActuatorDT",
        "func": "let actuatorModel = \"dtmi:io:github:smartoperatingblock:Actuator;1\"\nmsg.url = \"https://digital-twin-layer.api.neu.digitaltwins.azure.net/digitaltwins/\" + msg.actuator_id + \"?api-version=2023-02-27-preview\"\nmsg.method = \"put\"\n\nmsg.payload = {\n    \"$metadata\": {\n        \"$model\": actuatorModel\n    },\n    \"type\": msg.actuator_type\n}\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2150,
        "y": 1120,
        "wires": [
            [
                "00422d3334540982"
            ]
        ]
    },
    {
        "id": "7e2fc28f43937855",
        "type": "function",
        "z": "09012e75c72a4968",
        "name": "createRelationshipWithRoom",
        "func": "let relID = msg.room_id + \"-\" + msg.actuator_id\nmsg.url = \"https://digital-twin-layer.api.neu.digitaltwins.azure.net/digitaltwins/\" + msg.room_id + \"/relationships/\" + relID + \"?api-version=2023-02-27-preview\"\nmsg.method = \"put\"\nmsg.payload = \n    {\n        \"$targetId\": msg.actuator_id,\n        \"$relationshipName\": \"rel_has_actuator\"\n    }\n\n\n\nreturn msg\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2610,
        "y": 1120,
        "wires": [
            [
                "62c28667af053fe0"
            ]
        ]
    },
    {
        "id": "c6c4f1b87153a885",
        "type": "inject",
        "z": "09012e75c72a4968",
        "name": "type8",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"type\": 8, \"actuator_type\": \"0\", \"actuator_id\" : \"act1121\", \"room_id\": \"room1\"}",
        "payloadType": "str",
        "x": 110,
        "y": 580,
        "wires": [
            [
                "ead8458e27835fd5"
            ]
        ]
    },
    {
        "id": "745c5f5dda78248a",
        "type": "function",
        "z": "09012e75c72a4968",
        "name": "createRelationshipWithRoom",
        "func": "let process_id = msg.payload[\"value\"][0][\"$dtId\"]\nlet relID = process_id + \"-\" + msg.device_id\nmsg.url = \"https://digital-twin-layer.api.neu.digitaltwins.azure.net/digitaltwins/\" + process_id + \"/relationships/\" + relID + \"?api-version=2023-02-27-preview\"\nmsg.method = \"put\"\nmsg.payload = {\n    \"$targetId\": msg.device_id,\n    \"$relationshipName\": \"rel_use\"\n}\n\nreturn msg\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2610,
        "y": 1000,
        "wires": [
            [
                "62c28667af053fe0"
            ]
        ]
    },
    {
        "id": "1005329bc4b3f3df",
        "type": "function",
        "z": "09012e75c72a4968",
        "name": "requestProcessRelatedToTheRoom",
        "func": "msg.url = \"https://digital-twin-layer.api.neu.digitaltwins.azure.net/query?api-version=2023-02-27-preview\"\nlet query = \"SELECT TOP (1) SurgicalProcess.$dtId FROM DIGITALTWINS SurgicalProcess JOIN Room RELATED SurgicalProcess.rel_is_inside WHERE Room.$dtId = '\" + msg.room_id + \"' AND IS_OF_MODEL(SurgicalProcess, 'dtmi:io:github:smartoperatingblock:SurgicalProcess;1')\"\nmsg.method = \"post\"\n\nmsg.payload = {\n    \"query\": query\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1890,
        "y": 1000,
        "wires": [
            [
                "5664c9ae46ddedba"
            ]
        ]
    },
    {
        "id": "61eca1567ddb5e81",
        "type": "function",
        "z": "09012e75c72a4968",
        "name": "requestProcessRelatedToTheRoom",
        "func": "msg.url = \"https://digital-twin-layer.api.neu.digitaltwins.azure.net/query?api-version=2023-02-27-preview\"\nlet query = \"SELECT TOP (1) SurgicalProcess.$dtId FROM DIGITALTWINS SurgicalProcess JOIN Room RELATED SurgicalProcess.rel_is_inside WHERE Room.$dtId = '\" + msg.room_id + \"' AND IS_OF_MODEL(SurgicalProcess, 'dtmi:io:github:smartoperatingblock:SurgicalProcess;1')\"\nmsg.method = \"post\"\n\nmsg.payload = {\n    \"query\": query\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1290,
        "y": 1060,
        "wires": [
            [
                "cace2be9bbd83fd6"
            ]
        ]
    },
    {
        "id": "f51c81bfe7e71efa",
        "type": "function",
        "z": "09012e75c72a4968",
        "name": "requestPatientRelatedToTheProcess",
        "func": "let process_id = msg.payload[\"value\"][0][\"$dtId\"]\nmsg.url = \"https://digital-twin-layer.api.neu.digitaltwins.azure.net/query?api-version=2023-02-27-preview\"\nlet query = \"SELECT TOP (1) Patient.$dtId FROM DIGITALTWINS SurgicalProcess JOIN Patient RELATED SurgicalProcess.rel_involve_patient where SurgicalProcess.$dtId ='\"+ process_id + \"'\"\nmsg.method = \"post\"\n\nmsg.payload = {\n    \"query\": query\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1970,
        "y": 1060,
        "wires": [
            [
                "b9dc0ea585c3b2dc"
            ]
        ]
    },
    {
        "id": "a35b075974d1b012",
        "type": "function",
        "z": "09012e75c72a4968",
        "name": "setPatientOnOperatingTable",
        "func": "let patient_id = msg.payload[\"value\"][0][\"$dtId\"]\n\nmsg.payload = [\n    {\n        \"op\": \"add\",\n        \"path\": \"/is_on_operating_table\",\n        \"value\": true\n    }\n]\n\nmsg.url = \"https://digital-twin-layer.api.neu.digitaltwins.azure.net/digitaltwins/\" + patient_id + \"?api-version=2023-02-27-preview\"\nmsg.method = \"patch\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2620,
        "y": 1060,
        "wires": [
            [
                "62c28667af053fe0"
            ]
        ]
    },
    {
        "id": "4702432e7293a098",
        "type": "function",
        "z": "09012e75c72a4968",
        "name": "deleteHealtProfessionalRelationWIthRoom",
        "func": "let room_id = msg.payload[\"value\"][0][\"$targetId\"]\nlet relID = room_id + \"-\" + msg.person_id\nmsg.url = \"https://digital-twin-layer.api.neu.digitaltwins.azure.net/digitaltwins/\" + msg.person_id + \"/relationships/\" + relID + \"?api-version=2023-02-27-preview\"\nmsg.method = \"delete\"\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1990,
        "y": 760,
        "wires": [
            [
                "62c28667af053fe0"
            ]
        ]
    },
    {
        "id": "208b6e44f1f2d442",
        "type": "function",
        "z": "09012e75c72a4968",
        "name": "createPersonRelationWithRoom",
        "func": "let relID = msg.room_id + \"-\" + msg.person_id\nmsg.url = \"https://digital-twin-layer.api.neu.digitaltwins.azure.net/digitaltwins/\" + msg.person_id + \"/relationships/\" + relID + \"?api-version=2023-02-27-preview\"\nmsg.method = \"put\"\nmsg.payload = {\n    \"$targetId\": msg.room_id,\n    \"$relationshipName\": \"rel_is_inside\"\n}\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2870,
        "y": 820,
        "wires": [
            [
                "62c28667af053fe0"
            ]
        ]
    },
    {
        "id": "fefe9785d23b240b",
        "type": "inject",
        "z": "09012e75c72a4968",
        "name": "type5",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"type\": 5, \"person_id\": \"ProvaPatient\", \"person_role\": \"patient\", \"room_id\": \"Room-2\"} ",
        "payloadType": "str",
        "x": 110,
        "y": 460,
        "wires": [
            [
                "ead8458e27835fd5"
            ]
        ]
    },
    {
        "id": "5cba3fef88d0f3ca",
        "type": "inject",
        "z": "09012e75c72a4968",
        "name": "type7",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"type\": 7, \"room_id\": \"room1\"} ",
        "payloadType": "str",
        "x": 110,
        "y": 540,
        "wires": [
            [
                "ead8458e27835fd5"
            ]
        ]
    },
    {
        "id": "7810c6d0751cfd37",
        "type": "switch",
        "z": "09012e75c72a4968",
        "name": "enterExitSwitch",
        "property": "room_id",
        "propertyType": "msg",
        "rules": [
            {
                "t": "null"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1140,
        "y": 820,
        "wires": [
            [
                "b7d27c682271db4a"
            ],
            [
                "091e1425012342f8"
            ]
        ]
    },
    {
        "id": "b7d27c682271db4a",
        "type": "function",
        "z": "09012e75c72a4968",
        "name": "getCurrentRoom",
        "func": "let relName = \"rel_is_inside\"\nmsg.url = \"https://digital-twin-layer.api.neu.digitaltwins.azure.net/digitaltwins/\" + msg.person_id + \"/relationships/?relationshipName=\" + relName + \"&api-version=2023-02-27-preview\"\nmsg.method = \"get\"\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1330,
        "y": 760,
        "wires": [
            [
                "382cf85deb32af58"
            ]
        ]
    },
    {
        "id": "382cf85deb32af58",
        "type": "subflow:70865c1f352e8a0c",
        "z": "09012e75c72a4968",
        "name": "",
        "x": 1650,
        "y": 760,
        "wires": [
            [
                "4702432e7293a098"
            ]
        ]
    },
    {
        "id": "dfc0c3d254b99e87",
        "type": "subflow:70865c1f352e8a0c",
        "z": "09012e75c72a4968",
        "name": "",
        "x": 1590,
        "y": 1000,
        "wires": [
            [
                "1005329bc4b3f3df"
            ]
        ]
    },
    {
        "id": "5664c9ae46ddedba",
        "type": "subflow:70865c1f352e8a0c",
        "z": "09012e75c72a4968",
        "name": "",
        "x": 2230,
        "y": 1000,
        "wires": [
            [
                "745c5f5dda78248a"
            ]
        ]
    },
    {
        "id": "cace2be9bbd83fd6",
        "type": "subflow:70865c1f352e8a0c",
        "z": "09012e75c72a4968",
        "name": "",
        "x": 1610,
        "y": 1060,
        "wires": [
            [
                "f51c81bfe7e71efa"
            ]
        ]
    },
    {
        "id": "b9dc0ea585c3b2dc",
        "type": "subflow:70865c1f352e8a0c",
        "z": "09012e75c72a4968",
        "name": "",
        "x": 2310,
        "y": 1060,
        "wires": [
            [
                "a35b075974d1b012"
            ]
        ]
    },
    {
        "id": "00422d3334540982",
        "type": "subflow:70865c1f352e8a0c",
        "z": "09012e75c72a4968",
        "name": "",
        "x": 2350,
        "y": 1120,
        "wires": [
            [
                "7e2fc28f43937855"
            ]
        ]
    },
    {
        "id": "62c28667af053fe0",
        "type": "subflow:70865c1f352e8a0c",
        "z": "09012e75c72a4968",
        "name": "",
        "x": 3490,
        "y": 780,
        "wires": [
            [
                "3e879afc64077b51"
            ]
        ]
    },
    {
        "id": "0cec540c56ea23b3",
        "type": "file in",
        "z": "09012e75c72a4968",
        "name": "readActuatorRoomMappingFile",
        "filename": "/data/configFiles/actuator_room_mapping.json",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "utf8",
        "allProps": false,
        "x": 1370,
        "y": 700,
        "wires": [
            [
                "31383764f8c72806"
            ]
        ]
    },
    {
        "id": "3f215909208d5fb3",
        "type": "function",
        "z": "09012e75c72a4968",
        "name": "deleteHealtProfessionalRelationWIthRoom",
        "func": "let room_id = msg.payload[\"value\"][0][\"$targetId\"]\nlet relID = room_id + \"-\" + msg.person_id\nmsg.url = \"https://digital-twin-layer.api.neu.digitaltwins.azure.net/digitaltwins/\" + msg.person_id + \"/relationships/\" + relID + \"?api-version=2023-02-27-preview\"\nmsg.method = \"delete\"\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2250,
        "y": 940,
        "wires": [
            [
                "c19c574b2b54b343"
            ]
        ]
    },
    {
        "id": "091e1425012342f8",
        "type": "function",
        "z": "09012e75c72a4968",
        "name": "getCurrentRoom",
        "func": "let relName = \"rel_is_inside\"\nmsg.url = \"https://digital-twin-layer.api.neu.digitaltwins.azure.net/digitaltwins/\" + msg.person_id + \"/relationships/?relationshipName=\" + relName + \"&api-version=2023-02-27-preview\"\nmsg.method = \"get\"\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1330,
        "y": 880,
        "wires": [
            [
                "f601941828d90ad1"
            ]
        ]
    },
    {
        "id": "f601941828d90ad1",
        "type": "subflow:70865c1f352e8a0c",
        "z": "09012e75c72a4968",
        "name": "",
        "x": 1530,
        "y": 880,
        "wires": [
            [
                "7abff071a8097e2f"
            ]
        ]
    },
    {
        "id": "c19c574b2b54b343",
        "type": "subflow:70865c1f352e8a0c",
        "z": "09012e75c72a4968",
        "name": "",
        "x": 2550,
        "y": 860,
        "wires": [
            [
                "208b6e44f1f2d442"
            ]
        ]
    },
    {
        "id": "7abff071a8097e2f",
        "type": "switch",
        "z": "09012e75c72a4968",
        "name": "CurrentRoomExistsSwitch",
        "property": "msg.payload[\"value\"][0][\"$targetId\"]",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "null"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1830,
        "y": 880,
        "wires": [
            [
                "208b6e44f1f2d442"
            ],
            [
                "3f215909208d5fb3"
            ]
        ]
    },
    {
        "id": "3e879afc64077b51",
        "type": "debug",
        "z": "09012e75c72a4968",
        "name": "response",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 3680,
        "y": 780,
        "wires": []
    },
    {
        "id": "42abe5ceec9cb282",
        "type": "semaphore-take",
        "z": "09012e75c72a4968",
        "config": "79c828b03c9c24ca",
        "name": "",
        "x": 960,
        "y": 1120,
        "wires": [
            [
                "f6e56c9200cdd690"
            ]
        ]
    },
    {
        "id": "6043d884856924e5",
        "type": "semaphore-leave",
        "z": "09012e75c72a4968",
        "config": "79c828b03c9c24ca",
        "name": "",
        "x": 1950,
        "y": 1120,
        "wires": [
            [
                "1a6d9092c128a0bd"
            ]
        ]
    },
    {
        "id": "6db82f271ea4f2b5",
        "type": "semaphore-take",
        "z": "09012e75c72a4968",
        "config": "79c828b03c9c24ca",
        "name": "",
        "x": 1140,
        "y": 700,
        "wires": [
            [
                "0cec540c56ea23b3"
            ]
        ]
    },
    {
        "id": "31383764f8c72806",
        "type": "semaphore-leave",
        "z": "09012e75c72a4968",
        "config": "79c828b03c9c24ca",
        "name": "",
        "x": 1630,
        "y": 700,
        "wires": [
            [
                "c4db83d867cd1492"
            ]
        ]
    },
    {
        "id": "40f0a07093025a0f",
        "type": "semaphore-take",
        "z": "09012e75c72a4968",
        "config": "791ec7d75a1a4b22",
        "name": "",
        "x": 1100,
        "y": 1180,
        "wires": [
            [
                "3dd49201b59cb7f9"
            ]
        ]
    },
    {
        "id": "78df5571fbe092a5",
        "type": "semaphore-leave",
        "z": "09012e75c72a4968",
        "config": "791ec7d75a1a4b22",
        "name": "",
        "x": 2130,
        "y": 1180,
        "wires": [
            []
        ]
    },
    {
        "id": "17539151bcd56410",
        "type": "http in",
        "z": "09012e75c72a4968",
        "name": "SwitchableCommand",
        "url": "switchable/:actuator_id/:state",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 1440,
        "wires": [
            [
                "ea86bcd644900a6a"
            ]
        ]
    },
    {
        "id": "ea86bcd644900a6a",
        "type": "function",
        "z": "09012e75c72a4968",
        "name": "getActuatorIDAndState",
        "func": "msg.actuator_id = msg.req.params.actuator_id\nmsg.state = msg.req.params.state\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 1440,
        "wires": [
            [
                "76a96541c0093520"
            ]
        ]
    },
    {
        "id": "bd491d97528395bd",
        "type": "file in",
        "z": "09012e75c72a4968",
        "name": "read actuator_room_mapping",
        "filename": "/data/configFiles/actuator_room_mapping.json",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "utf8",
        "allProps": false,
        "x": 850,
        "y": 1440,
        "wires": [
            [
                "e2f669d1ba3b28ac"
            ]
        ]
    },
    {
        "id": "76a96541c0093520",
        "type": "semaphore-take",
        "z": "09012e75c72a4968",
        "config": "79c828b03c9c24ca",
        "name": "",
        "x": 620,
        "y": 1440,
        "wires": [
            [
                "bd491d97528395bd"
            ]
        ]
    },
    {
        "id": "e2f669d1ba3b28ac",
        "type": "semaphore-leave",
        "z": "09012e75c72a4968",
        "config": "79c828b03c9c24ca",
        "name": "",
        "x": 1110,
        "y": 1440,
        "wires": [
            [
                "10b82578608764af"
            ]
        ]
    },
    {
        "id": "10b82578608764af",
        "type": "function",
        "z": "09012e75c72a4968",
        "name": "getRoomIDAndActuatorType",
        "func": "let jsonData = JSON.parse(msg.payload);\nmsg.room_id = jsonData[msg.actuator_id][\"room\"]\nmsg.type = jsonData[msg.actuator_id][\"type\"]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1400,
        "y": 1440,
        "wires": [
            [
                "d34536b4b286bde0"
            ]
        ]
    },
    {
        "id": "0321c7f715ae71a9",
        "type": "file in",
        "z": "09012e75c72a4968",
        "name": "read room_arduino_mapping",
        "filename": "/data/configFiles/arduino_room_mapping.json",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "utf8",
        "allProps": false,
        "x": 1860,
        "y": 1440,
        "wires": [
            [
                "1322d2a44999bebd"
            ]
        ]
    },
    {
        "id": "d34536b4b286bde0",
        "type": "semaphore-take",
        "z": "09012e75c72a4968",
        "config": "791ec7d75a1a4b22",
        "name": "",
        "x": 1640,
        "y": 1440,
        "wires": [
            [
                "0321c7f715ae71a9"
            ]
        ]
    },
    {
        "id": "1322d2a44999bebd",
        "type": "semaphore-leave",
        "z": "09012e75c72a4968",
        "config": "791ec7d75a1a4b22",
        "name": "",
        "x": 2090,
        "y": 1440,
        "wires": [
            [
                "6521e5763736adb2"
            ]
        ]
    },
    {
        "id": "6521e5763736adb2",
        "type": "function",
        "z": "09012e75c72a4968",
        "name": "getSerial",
        "func": "let jsonData = JSON.parse(msg.payload);\nmsg.serial = jsonData[msg.room_id]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2280,
        "y": 1440,
        "wires": [
            [
                "f8a973ba7af56764"
            ]
        ]
    },
    {
        "id": "d84f8fb891cfb581",
        "type": "switch",
        "z": "09012e75c72a4968",
        "name": "SerialSwitch",
        "property": "serial",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "/dev/ttyUSB0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 2690,
        "y": 1440,
        "wires": [
            [
                "964af0e4e85941eb"
            ]
        ]
    },
    {
        "id": "f8a973ba7af56764",
        "type": "function",
        "z": "09012e75c72a4968",
        "name": "setSerialMessage",
        "func": "msg.state = isNaN(msg.state) ? msg.state : parseInt(msg.state)\nmsg.payload = {}\nmsg.payload[\"command\"] = msg.type\nmsg.payload[\"room_id\"] = msg.room_id\nmsg.payload[\"status\"] = msg.state\n\nmsg.payload = JSON.stringify(msg.payload) + '\\n'\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2490,
        "y": 1440,
        "wires": [
            [
                "d84f8fb891cfb581",
                "ad7cbc939ce76248"
            ]
        ]
    },
    {
        "id": "964af0e4e85941eb",
        "type": "serial out",
        "z": "09012e75c72a4968",
        "name": "",
        "serial": "94b8abb47e4cb1f2",
        "x": 2870,
        "y": 1440,
        "wires": []
    },
    {
        "id": "a620b78341736b3a",
        "type": "http in",
        "z": "09012e75c72a4968",
        "name": "DimmableCommand",
        "url": "dimmable/:actuator_id",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 1520,
        "wires": [
            [
                "d764c1e9370253e6"
            ]
        ]
    },
    {
        "id": "d764c1e9370253e6",
        "type": "function",
        "z": "09012e75c72a4968",
        "name": "getActuatorIDAndIntensity",
        "func": "msg.actuator_id = msg.req.params.actuator_id\nmsg.state = msg.req.body.intensity\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 1520,
        "wires": [
            [
                "76a96541c0093520"
            ]
        ]
    },
    {
        "id": "ad7cbc939ce76248",
        "type": "http response",
        "z": "09012e75c72a4968",
        "name": "Success: No content",
        "statusCode": "204",
        "headers": {},
        "x": 2780,
        "y": 1500,
        "wires": []
    },
    {
        "id": "df4e2787b740a95d",
        "type": "debug",
        "z": "09012e75c72a4968",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 140,
        "wires": []
    }
]
